<h1> Dictionary </h1>

<ol>
  <% @words.each() do |word| %>
  <li><a href='/definition/<%= word.id() %>'><%= word.word() %></a></li>
  <% end %>
</ol>

<form action='/new_word' method = 'post'>
  <div class='form-group'>
    <label for='word'> Add a word </label>
    <input id='word' name='word' type='text' class='form-control'>
  </div>
  <button type="submit" class="btn btn-warning">Add</button>
</form>
